body {
    margin: 0;
    padding: 0;
}

.ae-gui {
    box-shadow: 0 0 5px rgba(0,0,0,1);
}

    .ae-gui, .ae-gui * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: inherit;
        font-family: inherit;
        background: inherit;
        line-height: 20px;
        font-size: 15px;
    }

div.ae-gui {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    border: 1px solid #000000;
    color: white;
    font-family: Courier New, Courier, monospace;
    padding: 0;
    margin: 0;
}

.ae-gui ul {
    background: none;
    min-height: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.ae-gui > .close {
    text-align: center;
    color: #ff6565;
}

.ae-gui > .close,
.ae-gui .tab > .tab-header {
    background: #222;
    height:23px;
    line-height:21px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #000;
    font-weight: bold;
}

.ae-gui .tab > .tab-header:hover,
.ae-gui > .close:hover {
    background: #444;
    cursor: pointer;
}

.ae-gui .tab > .tab-header:active,
.ae-gui > .close:active {
    background: #666;
}


    .ae-gui .tab > .tab-header:before {
        content: '';
        border: solid white;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
        margin-right: 8px;
        margin-left: 5px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-bottom: 1px;
    }

.ae-gui .tab.closed > .tab-header:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-bottom: 0;
}

.ae-gui .tab > ul {
    min-height: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.ae-gui .input-controller {
    background: #555;
    padding-left: 4px;
    min-height: 23px;
    max-height: 23px;
}

    .ae-gui .input-controller.type-text .name {
        /*border-left: 3px solid #44e400;*/
        /*background: #eefff1;*/
        color: #24ff4b;
    }


    .ae-gui .input-controller.type-number .name {
        /*border-left: 3px solid #00ace4;*/
        /*background: #eefcff;*/
        color: #80edff;
    }


    .ae-gui .input-controller.type-boolean .name {
        /*border-left: 3px solid #e4af00;*/
        /*background: #fffcee;*/
        color: #ffdc37;
    }


    .ae-gui .input-controller.type-range .name {
        /*border-left: 3px solid #3d00e4;*/
        /*background: #f0eeff;*/
        color: #ffa6ec;
    }

    .ae-gui .input-controller > .name {
        background: none;
        color: white;
        display: inline-block;
        width: 40%;
        text-align: right;
        padding: 0 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        float: left;
    }

    .ae-gui .input-controller > .input {
        background: none;
        color: #222;
        display: inline-block;
        width: 60%;
    }

        .ae-gui .input-controller > .input > input {
            display: inline-block;
            background: white;
            width: 100%;
            height: 100%;
        }


    .ae-gui .input-controller.type-number input,
    .ae-gui .input-controller.type-text input {
        height: 22px;
        line-height: 20px;
        font-size: 13px;
        padding: 0 3px;
    }

    .ae-gui .input-controller.type-number .input,
    .ae-gui .input-controller.type-text .input {
        padding-right: 1px;
    }

.ae-gui .tab > ul {
    padding: 1px 0 1px 0;
    background: #555;
}

.ae-gui .tab.closed > ul {
    padding: 0;
}

/* CHECKBOX */
.ae-gui .input-controller.type-boolean label {
    position: relative;
    padding-left: 22px;
}

    .ae-gui .input-controller.type-boolean label::before,
    .ae-gui .input-controller.type-boolean label::after {
        position: absolute;
        content: "";
        display: inline-block;
    }

    .ae-gui .input-controller.type-boolean label::before {
        height: 20px;
        width: 20px;
        left: 0px;
        background: white;
    }

    .ae-gui .input-controller.type-boolean label::after {
        height: 5px;
        width: 13px;
        border-left: 2px solid #444;
        border-bottom: 2px solid #444;
        transform: rotate(-55deg);
        left: 3px;
        top: 5px;
    }

.ae-gui .input-controller.type-boolean input[type="checkbox"] {
    opacity: 0;
    width: 0;
}

    .ae-gui .input-controller.type-boolean input[type="checkbox"] + label::after {
        content: none;
    }

    .ae-gui .input-controller.type-boolean input[type="checkbox"]:checked + label::after {
        content: "";
    }

    .ae-gui .input-controller.type-boolean input[type="checkbox"]:focus + label::before {
        outline: rgba(255,0,0,0.9) 3px auto;
    }

/* SLIDER */
.ae-gui .input-controller.type-range .input {
    padding-right: 2px;
}

.ae-gui .input-controller.type-range input[type="range"] {
    -webkit-appearance: none;
    width: 80%;
    height: 6px;
    background: #fff;
    outline: none;
    margin-top: 8px;
    border-radius: 3px;
    float: left;
}

    .ae-gui .input-controller.type-range input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 18px;
        height: 18px;
        border: 1px solid #111;
        border-bottom: 1px solid #000;
        border-top: 1px solid #444;
        background: #111;
        border-radius: 50%;
        cursor: pointer;
    }

    .ae-gui .input-controller.type-range input[type="range"]::-moz-range-thumb {
        width: 18px;
        height: 18px;
        border: 1px solid #333;
        border-bottom: 1px solid #000;
        border-top: 1px solid #555;
        background: #111;
        border-radius: 50%;
        cursor: pointer;
    }


.ae-gui .input-controller.type-range input[type="text"] {
    width: 20%;
    float: left;
    height: 22px;
    line-height: 20px;
    font-size: 13px;
    padding: 0 3px;
    padding: 0 3px;
    text-align: center;
}

.ae-gui .input-controller.type-number input,
.ae-gui .input-controller.type-text input,
.ae-gui .input-controller.type-boolean label::before,
.ae-gui .input-controller.type-range input[type="range"],
.ae-gui .input-controller.type-range input[type="text"] {
    border: 1px solid #444;
    border-top: 1px solid #333;
    border-bottom: 1px solid #777;
}
